<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="hide-on-med-and-down" ><img src="{{ base }}/images/logo-SCAC.svg" alt=""></h5>
          <p class="hide-on-med-and-down">Export-Forum.com is, since 1989, dedicated to global import-export and sourcing with specialized sections for all continents. We focus mainly on Africa, China, India, Southeast Asia, South-America & Europe products. To reach easily Africa and all the 56 French speaking markets all offers are translated into French.

Most of the 5000 products are precisely described and over 25,000 photos are available to facilitate business.This forum is updated daily by SCAC Network partners and we welcome customers from over 165 countries</p>


        </div>
        <div class="col l3 s12">
          
          <ul>
            <li><a class="white-text" href="contact.html">CONTACT US</a></li>
            <li><a class="white-text" href="whoarewe.html">ABOUT US</a></li>
            <li><a class="white-text" href="FAQ.html">FAQ</a></li>
            <li><a class="white-text" href="#!">CONDITIONS</a></li>
            <li><a class="white-text" href="web-advertising.html">ADVERTISE WITH US</a></li>
            <li><a class="white-text" href="#!">SCAC NETWORK</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          
          <ul>
            <li><a class="white-text" href="#!">SITE MAP</a></li>
            <li><a class="white-text" href="#!">CORRESPONDENTS</a></li>
            <li><a class="white-text" href="#!">TRADE DOCUMENTATION</a></li>
            <li><a class="white-text" href="privacy.html">PRIVACY & JURISDICTIONAL CLAUSE</a></li>
            <li><a class="white-text" href="#!">WEB SITE ADMINISTRATOR</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright © 2017 .SCAC
      </div>
    </div>
  </footer>

