<header>

  <nav class="white top-nav" role="navigation">
    <div class="nav-wrapper container">

    <a id="logo-container" href="index.html" class="brand-logo">
    <img src="{{ base }}/images/logo-SCAC.svg">
    </a>

    <ul class="main-nav right hide-on-med-and-down menu">
      {% include menu-item.html ref='home' %}
      {% include menu-item.html ref='about' %}
      {% include menu-item.html ref='faq' %}
      {% include menu-item.html ref='advertising' %}
      {% include menu-item.html ref='contact' %}
      {% if include.nolang != true %}
      {% if lang != 'en' %}
      <li class="language">
      <a class="menu-item" href="{% include t-link ref=page.ref lang='en' %}">
      </a>
      </li>
      {% elsif lang != 'fr' %}
      <li class="language">
      <a class="menu-item" href="{% include t-link ref=page.ref lang='fr' %}">
      </a>
      </li>
      {% endif %}
      {% endif %}
    </ul>

    <ul class="menu main-nav right hide-on-med-and-down" style="clear: right;" >
      {% include menu-item.html ref='offers' %}
      {% include menu-item.html ref='add-offer' %}
    </ul>

    <ul id="content-nav" class="menu content-nav left hide-on-med-and-down" style="margin-left: 130px">
      {% include menu-item.html ref='africa' %}
      {% include menu-item.html ref='americas' %}
      {% include menu-item.html ref='asia-pacific' %}
      {% include menu-item.html ref='europe' %}
    </ul>


      <div class="right hide-on-med-and-down " style=";line-height: 14px; clear: right;width:25%;
      padding: 0" >

      <!--
      <form>
      <div class="input-field">
      <input id="search" type="search" required action="">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      </div>
      </form>
    -->
    <!-- https://developers.google.com/custom-search/docs/element#introduction -->
        <gcse:searchbox-only gname="scacsearch" resultsUrl="http://www.export-forum.com" newWindow="true" queryParameterName="search">


      </div>


      <ul id="nav-mobile" class="side-nav right hide-on-med-and-down menu">
        <li class="title" style="background: url('images/bollard-SCAC-mobile.jpg');padding:50px 0; color:white"><h5>SCAC Network</h5></li>
        {% include menu-item.html ref='africa' %}
        {% include menu-item.html ref='americas' %}
        {% include menu-item.html ref='asia-pacific' %}
        {% include menu-item.html ref='europe' %}
        <li> &nbsp;</li>
        {% include menu-item.html ref='home' %}
        {% include menu-item.html ref='about' %}
        {% include menu-item.html ref='faq' %}
        {% include menu-item.html ref='advertising' %}
        {% include menu-item.html ref='contact' %}
        {% include menu-item.html ref='offers' %}
        {% include menu-item.html ref='add-offer' %}
        {% include menu-item.html ref='add-offer' %}
        {% if include.nolang != true %}
        {% if lang != 'en' %}
        <li class="language">
        <a class="menu-item" href="{% include t-link ref=page.ref lang='en' %}">
        </a>
        </li>
        {% elsif lang != 'fr' %}
        <li class="language">
        <a class="menu-item" href="{% include t-link ref=page.ref lang='fr' %}">
        </a>
        </li>
        {% endif %}
        {% endif %}
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons light-blue-text text-darken-2">menu</i></a>
       <div id="nav-mobile " class="right hide-on-large-only " >
       <form class="mobile-search">
       <input  type="text" name="search" placeholder="search">
       </form>
       </div>

    </div>
  </nav>

</header>




