

<header>

    <nav class="grey lighten-5 top-nav" role="navigation">
      <div class="nav-wrapper container">

      <a id="logo-container" href="#" class="brand-logo">
      <img src="{{ base }}/images/logo-SCAC.svg">
      </a>

        <ul class="main-nav right hide-on-med-and-down"  style="clear: right;" >
          <li><a href="index.html" >HOME</a></li>
          <li><a href="whoarewe.html">ABOUT US</a></li>
          <li><a href="FAQ.html">FAQ</a></li>
          <li><a href="web-advertising.html">ADVERTISE WITH US</a></li>
          <li><a href="contact.html">CONTACT US</a></li>
          <li class="language active" > <a href="#">ENGLISH</a></li>
          <li class="language"><a href="#">FRANÇAIS</a></li>
        </ul>


        <ul class="main-nav right hide-on-med-and-down" style="clear: right;" >
          <li><a href="#">RECENT OFFERS</a></li>
          <li><a href="#">ADD YOUR OFEER </a></li>
        </ul>

        <ul id="content-nav" class="left hide-on-med-and-down" style="margin-left: 130px">
          <li><a href="#">AFRICA</a></li>
          <li><a href="#">AMERICAS</a></li>
          <li><a href="#">ASIA-PACIFIC</a></li>
          <li><a href="#">EUROPE</a></li>
        </ul>
    
        
        <div class="right hide-on-med-and-down " style=";line-height: 14px; clear: right;width:25%;
        padding: 0" >
        
        <form>
        <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label> 
        </div>
        </form>
        </div>

        <ul id="nav-mobile" class="side-nav">
           <li class="title">MENU</li>
          <li><a href="#">AFRICA</a></li>
          <li><a href="#">AMERICAS</a></li>
          <li><a href="#">ASIA-PACIFIC</a></li>
          <li><a href="#">EUROPE</a></li>
          <li> &nbsp;</li>
          <li><a href="index.html">HOME</a></li>
          <li><a href="whoarewe.html">ABOUT US</a></li>
          <li><a href="FAQ.html">FAQ</a></li>
          <li><a href="#">ADVERTISE WITH US</a></li>
          <li><a href="contact.html">CONTACT US</a></li>
          <li><a href="#">RECENT OFFERS</a></li>
          <li><a href="#">ADD YOUR OFEER </a></li>
           <li> &nbsp;</li>
            <li><a href="#">ADD YOUR OFEER </a></li>     
        </ul>

       
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
         <div id="nav-mobile " class="right hide-on-large-only " >
         <form class="mobile-search">
         <input  type="text" name="search" placeholder="search">
         </form>
         </div>

      </div>
    </nav>

</header>




