<header>

  <nav class="white top-nav" role="navigation">
    <div class="nav-wrapper container">

    <a id="logo-container" href="index.html" class="brand-logo">
    <img src="{{ base }}/images/logo-SCAC.svg">
    </a>

    <ul class="main-nav right hide-on-med-and-down menu">
      {% include menu-item.html ref='home' %}
      {% include menu-item.html ref='about' %}
      {% include menu-item.html ref='faq' %}
      {% include menu-item.html ref='advertising' %}
      {% include menu-item.html ref='contact' %}

      <li class="language menu-item{% if lang == 'en' %} menu-item--active{% endif %}">
      <a class="" href="{% include t-link ref=page.ref lang='en' %}">English
      </a>
      </li>
      <li class="language menu-item{% if lang == 'fr' %} menu-item--active{% endif %}">
      <a class="" href="{% include t-link ref=page.ref lang='fr' %}">Français
      </a>
      </li>

    </ul>

    <ul class="menu main-nav right hide-on-med-and-down" style="clear: right;" >
      {% include menu-item.html ref='offers' %}
      {% include menu-item.html ref='add-offer' %}
    </ul>

    <ul id="content-nav" class="menu content-nav left hide-on-med-and-down" style="margin-left: 130px">
      {% include menu-item.html ref='africa' %}
      {% include menu-item.html ref='americas' %}
      {% include menu-item.html ref='asia-pacific' %}
      {% include menu-item.html ref='europe' %}
    </ul>


      <div class="right hide-on-med-and-down " style=";line-height: 14px; clear: right;width:25%;
      padding: 0" >


      <!--
      <form class="search-form">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <gcse:searchbox gname="scacsearch" queryParameterName="q">
      </form>
      -->

      <form>
      <div class="input-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      </div>
      </form>


      <!-- <gcse:searchbox gname="scacsearch" queryParameterName="q"> -->


      </div>
      <ul id="nav-mobile" class="side-nav right hide-on-med-and-down menu">
        <li class="title" style="background: url('images/bollard-SCAC-mobile.jpg');padding:50px 0; color:white"><h5>SCAC Network</h5></li>
        {% include menu-item.html ref='africa' %}
        {% include menu-item.html ref='americas' %}
        {% include menu-item.html ref='asia-pacific' %}
        {% include menu-item.html ref='europe' %}
        <li> &nbsp;</li>
        {% include menu-item.html ref='home' %}
        {% include menu-item.html ref='about' %}
        {% include menu-item.html ref='faq' %}
        {% include menu-item.html ref='advertising' %}
        {% include menu-item.html ref='contact' %}
        {% include menu-item.html ref='offers' %}
        {% include menu-item.html ref='add-offer' %}
        {% include menu-item.html ref='add-offer' %}

        <li class="language menu-item{% if lang == 'en' %} menu-item--active{% endif %}">
        <a class="" href="{% include t-link ref=page.ref lang='en' %}">English
        </a>
        </li>
        <li class="language menu-item{% if lang == 'fr' %} menu-item--active{% endif %}">
        <a class="" href="{% include t-link ref=page.ref lang='fr' %}">Français
        </a>
        </li>

      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons light-blue-text text-darken-2">menu</i></a>
       <div id="nav-mobile " class="right hide-on-large-only " >
       <form class="mobile-search">
       <input  type="text" name="search" placeholder="search">
       </form>
       </div>

    </div>
  </nav>

</header>




