<ul class="main-nav right hide-on-med-and-down menu">
	{% include menu-item.html ref='home' %}
	{% include menu-item.html ref='about' %}
	{% include menu-item.html ref='faq' %}
	{% include menu-item.html ref='advertising' %}
	{% include menu-item.html ref='contact' %}
	{% if include.nolang != true %}
	{% if lang != 'en' %}
	<li class="language">
	<a class="menu-item" href="{% include t-link ref=page.ref lang='en' %}">
	</a>
	</li>
	{% elsif lang != 'fr' %}
	<li class="language">
	<a class="menu-item" href="{% include t-link ref=page.ref lang='fr' %}">
	</a>
	</li>
	{% endif %}
	{% endif %}
</ul>

<ul class="menu main-nav right hide-on-med-and-down" style="clear: right;" >
	{% include menu-item.html ref='offers' %}
	{% include menu-item.html ref='add-offer' %}
</ul>

<ul id="content-nav" class="menu content-nav left hide-on-med-and-down" style="margin-left: 130px">
	{% include menu-item.html ref='africa' %}
	{% include menu-item.html ref='americas' %}
	{% include menu-item.html ref='asia-pacific' %}
	{% include menu-item.html ref='europe' %}
</ul>
