/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* ESTO YA ESTABA AQUI*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/******************************
 GENERAL
 ******************************/

html{
font-weight: lighter;
font-family: 'Roboto Condensed', sans-serif;
}

/* esto lo estoy ELIMINAR para poner color-css dierecto en html
i{
color:#0a93b5;
}*/

.gallery img{
	border:1px solid #ccc;
	padding:0.25rem;
 }

/* form font-size*/
.input-field label{
font-size:1.2rem
}

  /* label focus color */
   .input-field input[type=text]:focus + label, .input-field textarea:focus + label {
     color:#0a93b5!important
   }


   /* label underline focus color */
   .input-field input[type=text]:focus, .row .input-field textarea:focus {
     border-bottom: 1px solid #0a93b5!important;
     box-shadow: 0 1px 0 0 #0a93b5!important;
   }




.page-footer{
background-color:#0a93b5;
}


a.backtop-button {
	background:#087c98!important;
	border:none;
	
}

.active a.backtop-button  {
	background:#35bcdd!important
}

.btn-floating i{
	font-size:3.2rem!important
}


		h1,h2,h3,h4,h5,h6{
			font-weight: lighter;

		}

		h1 {
		  font-size: 3rem;
		  line-height: 110%;
		  margin: 1.3rem 0
		}

		h2 {
		  font-size: 2.7rem;
		  line-height: 110%;
		  margin: 1rem 0
		}

		h3 {
		  font-size: 2.3rem;
		  line-height: 110%;
		  margin:0.9rem 0
		}

		h4 {
		  font-size: 2rem;
		  line-height: 110%;
		  margin:0.7rem 0
		}

		h5 {
		  font-size: 1.8rem;
		  line-height: 110%;
		  margin:0.5rem 0
		}

		h6 {
		  font-size: 1.5rem;
		  line-height: 110%;
		  margin:0.3rem 0
		}

a{
text-decoration: underline;
}

a:hover{
color:#0fb3db;
}

.active a{
background:white!important;
color:#0b93b1!important
}


.page-footer a, .nav-wrapper a{
text-decoration: none
}
	

ol li{
list-style-type:inherit!important;
}

.btn, .btn-large{
background: white;
color:#504d4c;
font-size:1.3rem;
border:1px solid #eae9e9;

}

.btn:hover, .btn-large:hover{
color:white;
background: #35bcdd;
}

article{ margin-bottom: 5% }

article h1{ margin-bottom:0 }

blockquote{
border-color:#0a93b5;
}

		/* Title section + breadcrumbs*/
		.nav-section{
		background:#0fb3db;
		margin-top:5px;
		height: 100px;
		padding-top:2%
		}

		.nav-section h1{
		font-size: 

		}

		.nav-section a:hover{
		color:white;

		}

		/* continents */

		.continents  {
		background:#f2f2f2;
		}

		.continents .btn-large:hover{
			background:#f2f2f2
		}

		.continents ul li  {
		text-align:left!important;
		}
		.continents ul li a {
		color:#444344!important;
		padding-left:7px;
		text-decoration:none

		}

		.continents ul li a:hover {
		color:#06a2c9!important

		}
	
		/* Quizas CAMBIAR a class directo*/
		#africa  ul li a {
		border-left:3px solid #fab454
		}
		#americas  ul li a {
		border-left: 3px solid #ef5d64
		}
		#asia  ul li a {
		border-left: 3px solid #2f9fd1
		}
		#europe  ul li a {
		border-left: 3px solid #64c3a8
		}

		

/* FAQ accrodion*/
.collapsible-header{
	padding: 1rem
}

/******************************
 MOBILE
 ******************************/



@media only screen and (max-width: 600px) {
  

  		.container{
  		width: 95%

  		}
  		/* sticky mtop-bar */
		nav.top-nav{
		position: fixed;
		width: 100%;
		z-index: 100;
		}

		#mainwrap{
		padding-top:40px
		}

			/*footer*/
		.page-footer li {
		text-align: center;
		}

			
	
}

	#logo-container{
		padding-top:4px ;
		}

	


	/* sticky mtop-bar fixed */
	#sidenav-overlay {
	margin-left: 300px;
	z-index: 100
	}

	/* Side Menu 
	ul.side-nav{
	background:#0a93b5!important;
	}*/

	ul.side-nav li a{
	font-weight:lighter;
	border-bottom:1px solid #ccc;
	}

	ul.side-nav li a:hover{
	background:#0fb3db;
	color:white!important;
	}



	ul.side-nav .title{
	text-align: center;
	color:#0a93b5;
	}

	/* Search */
	.mobile-search {
	position: absolute;
	 right:0px;
	z-index: 1;
	height: 55px;
	background: white;
	}

	.mobile-search input[type=text] {
    width: 20px;
    box-sizing: border-box;
    border: 0;
    background-color:white;
    background-image: url(../images/search.svg););
    background-position: 20px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float:right;
    color:black;
	}

	.mobile-search input[type=text]:focus {
   width: 320px;
   top: 0;
   position: absolute;
   right:0px;
   margin-top:5px;
   border-bottom: 2px solid #0288d1;
	}




/***********************
 DESKTOP
 ***********************/

	@media only screen and (min-width: 993px){

		/* general */

		.brand-logo img{
		width:110%	
		}

		
		html .section{
		font-size: 130%
		}

		.section{
		padding-left:1rem;
		padding-right:1rem
		}

		h1,h2,h3,h4,h5,h6{
		font-weight: lighter;
		}

		h1{
		line-height:3.1rem;
		margin-top: 0;
		}


		/* contendedor ppal. margen laterales */
		.container{
		width:100%;
		
		
		}

		.continents img {
		display: block;
		text-align: center;
		margin: 0 auto;
		width: 70%
		}

		/* top bar*/
		nav.top-nav{
		height:137px
		}


		/* NAV */
		#logo-container{
		margin-top: 40px
		}

		nav li a {
		color:black;
		font-size: 1.3rem;color:#444344
		}

		nav li a:hover {
		background:white;
		color:#0fb3db
		}

		.main-nav li a{
		font-size:1.2rem;
		line-height:30px;
		padding:1px	
		}

		.main-nav li a:before { content:' / ';color:#444344;padding-left:10px;padding-right: 10px }
		.main-nav li:first-child a:before { content:'';}

		.main-nav .language a{ 
		font-size:0.9rem!important
		}


		/* footer */

		.page-footer{
		background:white;
		border-top: 1px solid #445e75
		}

		.page-footer p{
		padding-left: 1rem;
		padding-right: 1rem;
		}

		.page-footer h5 img{
		opacity: 0.6;
		}


		.page-footer li a{
		color:inherit!important;
		line-height:1.9;
		}

		.page-footer li a:hover{
		color:#0fb3db!important
		}


		.footer-copyright{
		color:inherit!important;
		background: url(../images/logo-transparencyinternational.png) no-repeat right

		}



	}
		.slider{
		height: 400px!important;
		margin-top: 5px
		}

		.slider .indicators{
			display: none
		}
		/*slider
		.slider{
		top:-10px;
		height:367px!important
		}*/

		/*REVISAR: quizas no es necesario*/
		.slider .slides li{
		background: white
		}
		.slider .slides li img{
		max-height: 367px
		}

		.slider  h2{
		 line-height:50%
		} 

		.slider  a{
		line-height:56px;
		height: 56px;
		font-size: 1.8rem
		 
		}   

		/* REVISAR: haz prueba esto podria no esta haciendo nada */
		#content-nav{
		padding-top:30px
		}

		/* Search */
		nav .input-field input{
		border-bottom: 1px solid #ccc
		}

		nav .input-field label i{
		color:#ccc;
		font-size:30px
		}

		.input-field input[type=search]{
		padding-top:21px
		}



		/******************
		 iPad Air 2 - Ipad
		 *****************/
		@media screen and (min-width: 1024px){

				#content-nav{
				padding-top:0px!important;
				}


		}


		/*@media screen and (max-width: 1024px){

				.container{
				padding-left: 10%;
				border:1px solid green;
				}



		}*/


