<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCAC network | export-forum</title>
    <link rel="stylesheet" href="assets/foundation.css">
    <link rel="stylesheet" href="assets/app.css">
      <link rel="stylesheet" href="assets/ionicons.css" />      


      
  </head>
  <body>
      
    

<!-- mobile nav bar -->
      
<div class="top-bar-container" data-sticky-container>
    <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        
        <div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-logo" data-hide-for="medium" style="height:100px">
    <div class="title-bar-left">
    <button class="menu-icon" type="button" data-toggle="topbar-logo"></button>
    </div>
  
<div  style="border:1px solid;margin:0 auto;margin-top:50px;width:60%;"> AQUI DEBERIA IR SEARCH</div>
  
</div>
        
    </div></div>
      
      
       
<div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-logo" data-hide-for="medium" style="height:100px">
    <div class="title-bar-left">
    <button class="menu-icon" type="button" data-toggle="topbar-logo"></button>
    </div>
  
<div  style="border:1px solid;margin:0 auto;margin-top:50px;width:60%;"> AQUI DEBERIA IR SEARCH</div>
  
</div>
    
<!-- /mobile nav bar -->
      

<!-- medium and larger nav bar -->
<div class="top-bar topbar-logo " id="topbar-logo">
  <div class="top-bar-logo" style="" >
    <a href="#"><img src="images/logo-SCAC.svg" alt="" /></a>
    <div>export-forum.com</div>
  </div>
    
    <nav class="top-bar-left">
    <ul class="menu vertical medium-horizontal" >
      <li><a href="#">AFRICA</a></li>
      <li><a href="#">AMERCIAS</a></li>
      <li><a href="#">ASIA PACIFIC</a></li>
        <li><a href="#">EUROPE</a></li>
    </ul>
  </nav>
    
  <nav class="top-bar-right" >
        
  <ul class="menu vertical medium-horizontal">
      <li class="active"  ><a href="#" >HOME</a></li>
      <li><a href="#">WHO WE ARE</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">ADVERTISE WITH US</a></li>
      <li><a href="#" class="last">CONTACT US</a></li>
      <li class="lang active"><a  href="#">ENGLISH</a></li>
      <li class="last lang"><a   href="#">FRANCAIS</a></li>
    </ul>
      
       <ul class="menu align-right" >
      <li  class="last"><a href="#">ADD YOUR OFEER</a></li>
    <li><a href="#" >RECENT OFFERS</a></li>
       </ul>


      <!-- /search -->    
          <div class="search-input-animated" style="border:1px solid blue">
              
            <span class="searchbox-icon"><i class="fi-magnifying-glass"></i></span>
            <input type="search" placeholder="Search" name="search" class="searchbox-input" required>
          </div>
        </nav>
</div>
      
<!-- /medium and larger nav bar -->
      
 <div class="row expanded m-notdisplay" >
     
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; ">
  <ul class="orbit-container">
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/images/bollard-SCAC.jpg" alt="Space">
      <figcaption class="orbit-caption">
      <h1>AFRICA-ASIA<br/>EUROPE AND AMERICAS<strong>IMPORT-EXPORT & TRADE SOURCING</strong></h1>
          <div class="row">
    <div class="small-6 small-centered text-center columns">
              <a href="about.html" class="button large ">ADD YOUR OFFER</a>

    </div>
</div>

      </figcaption>
    </li>
  </ul>
  
</div>
</div>
      
  <div class="column row expanded"  >
   <article class="small-12 large-12 columns services">
    <h1>OUR SERVICES</h1>
       <p>Export-Forum.com is, since 1989, dedicated to global import-export and sourcing with specialized sections for all continents. We focus mainly on Africa, China, India, Southeast Asia, South-America & Europe products.</p>
    <ul>
    <li>Unlimited and free posting of buying or selling offers.</li>  
    <li>Assistance to insert a tender, including the translation of offers from English into French.</li>  
    <li>Local "Sourcing" of companies interested by your tender, with our Web network, our local agents and business partners worldwide.</li>  
    <li>Premium <a href="#">membership subscription.</a></li>  
    </ul>    
    
    </article>
      
    <article class="small-12 large-6 columns">
      <i class="ion-ios-paper-outline size-96"></i>

      <h1>TRADE DOCUMENTATION</h1>
    <p>Consult usual international trade documents examples, chartering terms and definitions, specifications of shipping containers, international inspection companies, international courrier companies, international dialing codes, world currencies rates and more.</p>
    <a href="#features" class="button large">VIEW ALL DOCUMENTS</a>
    </article>
      
  <article class="small-12 large-6 columns" >
  <i class="ion-ios-paper-outline size-96"></i>
  <h1>ADVERTISE WITH SCAC NETWORK</h1>
  <p>Using SCAC Network will keep your company in touch with millions. We have a presence on the Web since 1998,  over 3.2 millions professional visitors per year from 165 countries,  550.000 pages visited monthly and have an excellent rank in English and in French .</p>
   <a href="#features" class="button large">LEARN MORE</a>
    </article>
      
</div>

      

      
<div class="row expanded continents" >
    <div class="column row expanded m-notdisplay" >
  <div style="background:gray;width:728px;height:90px; margin:20px auto;border:1px solid black"></div>
</div> 
      

    
    
  <section class="small-12 large-3 columns" id="africa">
    <a href="#" class="continent-img"><img src="images/africa.svg" alt="" /></a>
    <hgroup>
    <h1><a href="#">AFRICA</a></h1>
    <h5>Americas import export and trade offers summary with Export-Forum.com</h5>
    </hgroup>
    <ul>
    <li><a href="#">Ivory Coast cocoa beans</a></li>
    <li><a href="#">Ivory Coast green robusta coffee beans</a></li>
    <li><a href="#">Ghana organic fresh papayas</a></li>
    <li><a href="#">West Africa food products</a></li>
    <li><a href="#">Mali and Burkina Combretum Arabic gum</a></li>
    </ul>
    <a href="#" class="button large">VIEW ALL AFRICA OFFERS</a>
    </section>
    
  <section class="small-12 large-3 columns" id="americas">
    
  <a href="#" class="continent-img"><img src="images/americas.svg" alt="" /></a>
    <hgroup>
    <h1><a href="#">AMERICAS</a></h1>
    <h5>Americas import export and trade offers summary with Export-Forum.com</h5>
    </hgroup>
    <ul>
    <li><a href="#">Ivory Coast cocoa beans</a></li>
    <li><a href="#">Ivory Coast green robusta coffee beans</a></li>
    <li><a href="#">Ghana organic fresh papayas</a></li>
    <li><a href="#">West Africa food products</a></li>
    <li><a href="#">Mali and Burkina Combretum Arabic gum</a></li>
    </ul>
    <a href="#" class="button large">VIEW ALL AMERICAS OFFERS</a>
  </section>
    
  <section class="small-12 large-3 columns" id="asia" >
    <a href="#" class="continent-img"><img src="images/asiapacific.svg" alt="" /></a>
    <hgroup>
    <h1><a href="#">ASIA-PACIFIC</a></h1>
    <h5>Americas import export and trade offers summary with Export-Forum.com</h5>
      </hgroup>
    <ul>
    <li><a href="#">Ivory Coast cocoa beans</a></li>
    <li><a href="#">Ivory Coast green robusta coffee beans</a></li>
    <li><a href="#">Ghana organic fresh papayas</a></li>
    <li><a href="#">West Africa food products</a></li>
    <li><a href="#">Mali and Burkina Combretum Arabic gum</a></li>
    </ul>
    <a href="#" class="button large">VIEW ALL ASIA-PACIFIC OFFERS</a>
    </section>
    
  <section class="small-12 large-3 columns" id="europe" >
  <a href="#" class="continent-img"><img src="images/europe.svg" alt="" /></a>
    <hgroup>
    <h1><a href="#">EUROPE</a></h1>
    <h5>Americas import export and trade offers summary with Export-Forum.com</h5>
    </hgroup>
    <ul>
    <li><a href="#">Ivory Coast cocoa beans</a></li>
    <li><a href="#">Ivory Coast green robusta coffee beans</a></li>
    <li><a href="#">Ghana organic fresh papayas</a></li>
    <li><a href="#">West Africa food products,</a></li>
    <li><a href="#">Mali and Burkina Combretum Arabic gum</a></li>
    </ul>
    <a href="#" class="button large">VIEW ALL EUROPE OFFERS</a>
    </section>
</div>
      
 <div class="row expanded" >
 <article class="small-12 large-9 columns" id="featured"  >
 <header>
 <span>free an unlimited service</span>
 <h1>Insert a trade offer to sale or to buy</h1>
 <p>Including the translation of offers from English into French</p> 
 </header>
  
   <p>We only require very precise offers to sell or requests to buy. To send a sale offer to Export-forum implies explicitly the sender of this sale proposal agrees to pay a commission to SCAC Network for any sale done to a customer from our web sites if SCAC Network business services assistance is provided</p>
    <a href="#" class="button large">ADD YOU OFFERS</a>
    </article>
     
  <div class="small-12 large-3 columns m-notdisplay" >
<div style="background:gray;width:300px;height:250px; margin:20px auto;border:1px solid black"></div>
</div>
</div>
      
 <div class="row expanded" >
<div class="small-12 large-3 columns m-notdisplay" >
<div style="background:gray;width:300px;height:250px; margin:20px auto;border:1px solid black"></div>
</div>
 <article class="small-12 large-9 columns" id="featured"  >
 <header>
 <span>deduce up to 50% of commissions</span>
 <h1>Premium membership subscription</h1>
 <p>guarantee to sellers and buyers they deal with a professional business partner.</p> 
 </header>
  
   <p>SCAC Network on the Web it is over 3.2 millions professional visitors per year from 165 countries, 550.000 pages visited monthly, a very good rank with Google for most of our products and services. SCAC Network it is a network of reliable correspondents and business partners in Africa, Americas, China, Southeast Asia and Europe</p>
    <a href="#" class="button large">SUBSCRIBE</a>
    </article>
     
  
</div>
      
      
<div class="column row expanded m-notdisplay " >
    <div style="background:gray;width:728px;height:90px; margin:20px auto;border:1px solid black"></div>

</div>
      

<footer>
     <div class=" row expanded large-collapse">
    <div class="large-12 small-12 column">
     <img src="images/logo-SCAC.svg" alt="" /> 
    </div>
    </div>
    <div class=" row expanded ">
   
    <div class="large-6 small-12 column">
     <p>
         Export-Forum.com is, since 1989, dedicated to global import-export and sourcing with specialized sections for all continents. We focus mainly on Africa, China, India, Southeast Asia, South-America & Europe products. To reach easily Africa and all the 56 French speaking markets all offers are translated into French.</p>p>

<p>Most of the 5000 products are precisely described and over 25,000 photos are available to facilitate business.This forum is updated daily by SCAC Network partners and we welcome customers from over 165 countries</p>   
        
        </div>
    <div class="large-6 small-12 column">
    <ul class="menu vertical">
     <li><a href="#">CONTACT US</a></li>
     <li><a href="#">WHO WE ARE</a></li>
    <li><a href="#">FAQ</a></li>
    </ul>
    <ul class="menu vertical">
     <li><a href="#">ADVERTISE WITH US</a></li>
     <li><a href="#">CONDITIONS</a></li>
    <li><a href="#">SCAC NETWORK</a></li>
    </ul> 
    <ul class="menu vertical">
     <li><a href="#">SITE MAP</a></li>
     <li><a href="#">CORRESPONDENTS</a></li>
    <li><a href="#">TRADE DOCUMENTATION</a></li>
    <li><a href="#">PRIVACY & JURISDICTIONAL CLAUSE</a></li>
    <li><a href="#">WEB SITE ADMINISTRATOR</a></li>
    </ul>        
        </div>
    

    
    </div>  
    
  
    
    
</footer>
   
 
      
      
    <script src="assets/jquery.js"></script>
    <script src="assets/what-input.js"></script>
    <script src="assets/foundation.js"></script>
    <script src="assets/app.js"></script>
  </body>
</html>



   